*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  display:flex;
  min-height:100vh;
  background:#ececec;
}

.sidebar{
  width:250px;
  background:#1d1d1d;
  color:white;
  padding:30px;
}

.sidebar h2{
  margin-bottom:40px;
}

.sidebar button{
  width:100%;
  margin-bottom:15px;
  padding:14px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  background:#93c83d;
  font-weight:bold;
  font-size:16px;
}

.main{
  flex:1;
  padding:30px;
}

.container{
  background:white;
  padding:40px;
  border-radius:10px;
  box-shadow:0 0 15px rgba(0,0,0,0.1);
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.logo{
  width:240px;
}

.empresa{
  text-align:right;
  line-height:1.7;
}

.cliente-box{
  border:2px solid black;
  padding:20px;
  margin-bottom:30px;

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:20px;
}

.cliente-box input,
.cliente-box select{
  width:100%;
  padding:10px;
  margin-top:5px;
  font-size:15px;
}

h1{
  background:#93c83d;
  text-align:center;
  padding:12px;
  margin-bottom:20px;
}

table{
  width:100%;
  border-collapse:collapse;
}

table th{
  background:#93c83d;
  border:2px solid black;
  padding:10px;
}

table td{
  border:1px solid black;
  padding:10px;
}

table input{
  width:100%;
  border:none;
  outline:none;
  font-size:15px;
}

.agregar{
  margin-top:20px;
  padding:12px 20px;
  border:none;
  background:black;
  color:white;
  cursor:pointer;
  border-radius:6px;
  font-size:15px;
}

.eliminar{
  background:red;
  color:white;
  border:none;
  padding:8px;
  cursor:pointer;
}

.totales{
  width:350px;
  margin-left:auto;
  margin-top:40px;
}

.totales div{
  display:flex;
  justify-content:space-between;
  margin-bottom:15px;
  font-size:18px;
}

.final{
  font-size:28px !important;
  font-weight:bold;
}

.nota{
  margin-top:40px;
  background:#d9d9d9;
  padding:12px;
  text-align:center;
  font-weight:bold;
}

@media(max-width:900px){

  body{
    flex-direction:column;
  }

  .sidebar{
    width:100%;
  }

  .cliente-box{
    grid-template-columns:1fr;
  }

  header{
    flex-direction:column;
    gap:20px;
  }

}
